<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cardo:700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ezrecipe" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ezrecipe" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>
  <body class="container-fluid">

    <main role="main">

			  <div class="container text-center">
			    <a href="/"><h1>EZRecipe</h1></a>
			  </div>

       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
